node_modules
dist/index.js
dist/index.js.map
dist/agent/command/command.agent.d.ts
dist/agent/command/command.agent.js
dist/agent/command/command.agent.js.map
dist/agent/command/commands/glo/gloRandomMedia.handler.d.ts
dist/agent/command/commands/glo/gloRandomMedia.handler.js
dist/agent/command/commands/glo/gloRandomMedia.handler.js.map
dist/agent/command/commands/glo/gloShutdownHandler.d.ts
dist/agent/command/commands/glo/gloShutdownHandler.js
dist/agent/command/commands/glo/gloShutdownHandler.js.map
dist/agent/command/commands/glo/gloWhipeMessage.handler.d.ts
dist/agent/command/commands/glo/gloWhipeMessage.handler.js
dist/agent/command/commands/glo/gloWhipeMessage.handler.js.map
dist/agent/command/model/commandHandler.base.d.ts
dist/agent/command/model/commandHandler.base.js
dist/agent/command/model/commandHandler.base.js.map
dist/lifecycle/startup.d.ts
dist/lifecycle/startup.js
dist/lifecycle/startup.js.map
dist/lifecycle/startup.phase.js
dist/lifecycle/startup.phase.js.map
dist/lifecycle/hook/hook.manager.d.ts
dist/lifecycle/hook/hook.manager.js
dist/lifecycle/hook/hook.manager.js.map
dist/lifecycle/hook/ready.hook.d.ts
dist/lifecycle/hook/ready.hook.js
dist/lifecycle/hook/ready.hook.js.map
dist/lifecycle/hook/message/message.create.hook.d.ts
dist/lifecycle/hook/message/message.create.hook.js
dist/lifecycle/hook/message/message.create.hook.js.map
dist/service/discord.module.d.ts
dist/service/discord.module.js
dist/service/discord.module.js.map
dist/service/discordjs/channel/channel.service.d.ts
dist/service/discordjs/channel/channel.service.js
dist/service/discordjs/channel/channel.service.js.map
dist/service/discordjs/interaction/interaction.service.d.ts
dist/service/discordjs/interaction/interaction.service.js
dist/service/discordjs/interaction/interaction.service.js.map
dist/service/discordjs/role/role.service.js
dist/service/discordjs/role/role.service.js.map
dist/service/feature/globot/glomedia/glomedia.service.js
dist/service/feature/globot/glomedia/glomedia.service.js.map
dist/service/feature/reactionrole/reactionrole.service.js
dist/service/feature/reactionrole/reactionrole.service.js.map
